In [1]:
import pandas as pd

# Загрузка данных
df = pd.read_csv('train.csv')

# Основная информация о датасете
df.info()
df.describe()
df.isnull().sum()

# Процент выживаемости у каждого класса пассажиров
survival_rate_by_class = df.groupby('Pclass')['Survived'].mean() * 100
print(survival_rate_by_class)

# Извлечение имен
df['FirstName'] = df['Name'].str.extract(r'([A-Za-z]+)\.', expand=False)

# Самое популярное мужское и женское имя
male_names = df[df['Sex'] == 'male']['FirstName'].value_counts()
most_popular_male_name = male_names.idxmax()

female_names = df[df['Sex'] == 'female']['FirstName'].value_counts()
most_popular_female_name = female_names.idxmax()

print(f"Самое популярное мужское имя: {most_popular_male_name}")
print(f"Самое популярное женское имя: {most_popular_female_name}")

# Самое популярное имя в каждом классе
popular_names_by_class = df.groupby(['Pclass', 'Sex'])['FirstName'].agg(lambda x: x.value_counts().idxmax())
print(popular_names_by_class)

# Пассажиры старше 44 лет
passengers_older_than_44 = df[df['Age'] > 44]
print(passengers_older_than_44)

# Молодые мужчины младше 44 лет
young_male_passengers = df[(df['Age'] < 44) & (df['Sex'] == 'male')]
print(young_male_passengers)

# Количество n-местных кабин
cabin_counts = df['Cabin'].value_counts()
n_occupancy_counts = cabin_counts[cabin_counts >= 2]
print(n_occupancy_counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
Самое популярное мужское имя: Mr
Самое популярное женское имя: Miss
Pclass  Sex
1       female    Miss
        male        Mr
2       female     Mrs
        male        Mr
3       female    Miss
        male        Mr
Name: FirstName, dtype: object
     PassengerId  Survived  Pclass  \
6              7         0       1
11            12         1       1
15            16         1       2
33            34         0       2
52            53         1       1
..           ...       ...     ...
857          858         1       1
862          863         1       1
871          872         1       1
873          874         0       3
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.0      1
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch      Ticket     Fare Cabin Embarked FirstName
6        0       17463  51.8625   E46        S        Mr
11       0      113783  26.5500  C103        S      Miss
15       0      248706  16.0000   NaN        S       Mrs
33       0  C.A. 24579  10.5000   NaN        S        Mr
52       0    PC 17572  76.7292   D33        C       Mrs
..     ...         ...      ...   ...      ...       ...
857      0      113055  26.5500   E17        S        Mr
862      0       17466  25.9292   D17        S       Mrs
871      1       11751  52.5542   D35        S       Mrs
873      0      345765   9.0000   NaN        S        Mr
879      1       11767  83.1583   C50        C       Mrs

[115 rows x 13 columns]
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket    Fare Cabin Embarked FirstName
0    22.0      1      0         A/5 21171   7.250   NaN        S        Mr
4    35.0      0      0            373450   8.050   NaN        S        Mr
7     2.0      3      1            349909  21.075   NaN        S    Master
12   20.0      0      0         A/5. 2151   8.050   NaN        S        Mr
13   39.0      1      5            347082  31.275   NaN        S        Mr
..    ...    ...    ...               ...     ...   ...      ...       ...
883  28.0      0      0  C.A./SOTON 34068  10.500   NaN        S        Mr
884  25.0      0      0   SOTON/OQ 392076   7.050   NaN        S        Mr
886  27.0      0      0            211536  13.000   NaN        S       Rev
889  26.0      0      0            111369  30.000  C148        C        Mr
890  32.0      0      0            370376   7.750   NaN        Q        Mr

[368 rows x 13 columns]
Cabin
G6                 4
C23 C25 C27        4
B96 B98            4
F2                 3
D                  3
E101               3
C22 C26            3
F33                3
C83                2
C123               2
B28                2
D26                2
B58 B60            2
E33                2
D33                2
C52                2
F G73              2
B77                2
C93                2
B5                 2
D17                2
E24                2
E8                 2
E121               2
B35                2
E44                2
C92                2
C78                2
B20                2
C125               2
E67                2
D35                2
F4                 2
C2                 2
D36                2
C65                2
C124               2
B18                2
B57 B59 B63 B66    2
B49                2
B22                2
E25                2
D20                2
C68                2
B51 B53 B55        2
C126               2
Name: count, dtype: int64